/* a 
span{
    background-color: #4682B4;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

/* b */
span{
    background-color: #4682B4;
    border-radius: 20px;
    padding: 3px;
    color: white;
}