<div id="Artikel" *ngIf="artikel">
    <article>
        <div class="Überschriften">
            <h2><a routerLink='/article/{{artikel.id}}'>{{artikel.heading}}</a><a routerLink='/edit/{{artikel.id}}' class="btn btn-dark">Artikel bearbeiten</a></h2>
            <h3 *ngIf="showFull">{{artikel.author}}|{{artikel.publishDate.getDate()}}.{{artikel.publishDate.getMonth()+1}}.{{artikel.publishDate.getFullYear()}}</h3>
            <h4>{{artikel.description}}</h4>
        </div>
        <div class="Inhalt" *ngIf="showFull">
            <img src={{artikel.image}}>
            <div class="Text">
                <p>{{artikel.text}}</p>
            </div>
            <div class="Tag-Informationen">
                <p class="d-inline">Tags:</p>
                <p class="d-inline" *ngFor="let Tag of artikel.tags">
                    <span [routerLink]="['/articles', { tag: Tag }]" class="badge badge-pill badge-primary">{{Tag}}</span>
                </p>
            </div>
            <div class=" Social-Media-Informationen ">
                <p> Teilen auf
                    <a href="https://twitter.com/intent/tweet?text=artikel.html?articleid=1 ">Twitter</a>|
                    <a href="teilenEmail.html?articleid=1 ">E-Mail</a>|
                    <a href="http://www.facebook.com/sharer.php?u=artikel.html?articleid=1 ">Facebook</a>
                </p>
            </div>
        </div>
    </article>
</div>