<h2>Teilen via E-Mail</h2>
<form action="">
    <div class="form-group row">
        <label for="usernameinput" class="col-sm-3 col-form-label">Empfänger</label>
        <div class="col-sm-7">
            <input type="email" class="form-control" id="recipient" placeholder="Empfänger">
        </div>
    </div>
    <div class="form-group row">
        <label for="usernameinput" class="col-sm-3 col-form-label">Mitteilung</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="message" placeholder="Mitteilung">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-outline-primary">Senden</button>
        </div>
    </div>
</form>
